<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>potos with vue dev page</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script>
var POTOSJS = {
	conf: {
		zoom: <%= initzoom %>
	},
	init: {
		querypath: '<%= querypath %>'
	}
};
//	var urlParams = new URLSearchParams(window.location.search); // https://davidwalsh.name/query-string-javascript
	</script>
</head>
<body>
<div id="app">

	<h1>{{ title }}</h1>

	<div v-if="is_photo">
		<p><breadcrumbs :is_photo="is_photo" :data="xbreadcrumbs" @clicko="onPathClicked" /></p>

		<img :class="'photo '+d.file.t" :src="d.path" :title="d.file.n"/>
	</div>

	<div v-else>
		<p><breadcrumbs :is_photo="is_photo" :data="xbreadcrumbs" @clicko="onPathClicked" /></p>
		<p>{{ d.count }} files found.</p>

		<span v-if="d.files.length" v-for="f in d.files">
			<img-thumbnail :data="d" :file="f" :mw="conf.zoom" @clicko="onPathClicked" />
		</span>
	</div>

	<div class="debug-box" @click="show_json = !show_json">
		<pre v-show="!show_json" class="clickable">☞ data</pre>
		<pre v-show="show_json">{{ $data }}, is_photo: {{ is_photo }}, xbreadcrumbs: {{ xbreadcrumbs }}</pre>
	</div>
</div>

<script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/lodash"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='https://unpkg.com/vue/dist/vue.js'></script>
<script src='/javascripts/u.js'></script>
<script src='/javascripts/app.js'></script>
</body>
</html>
