body {
	padding: 4px 40px 40px 40px;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 16px;
}

.debug-box {
	font-size: 10px;
	border-top: 1px dashed #ccc;
}

.clickable {
	cursor: pointer;
}
.clickable:hover {
	text-decoration: underline;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

.album {
	display: inline-block;
	padding: 10px;
}
.pic {
	max-width: 50px;
	margin: 4px;
	box-shadow: 0 1px 2px #808080;
}

.path-bc {
	font-size: 80%;
}

.photo {}
