body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

.pic {
  max-width: 50px;
}
.path-bc {
  font-size: 60%;
}
.photo {

}
