body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.debug-box {
	font-size: 10px;
	border-top: 1px dashed #ccc;
}

.clickable {
	cursor: pointer;
}
.clickable:hover {
	text-decoration: underline;
}

a {
	color: #00B7FF;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

.pic {
	max-width: 50px;
	margin: 4px;
	box-shadow: 0 1px 2px #808080;
}

.path-bc {
	font-size: 60%;
}

.photo {}
